

  <meta charset="UTF-8">
  <title>School Management</title>   
      <link rel="stylesheet" href="../styles/licenceing.css">  
<div>
  <div class="wrapper">
	<div class="container">
		<h1>Licence</h1>		
		<form class="form">          
        Product ID <input type="text" maxlength="50" placeholder=" Product ID"  >
        Serial Key <input type="text" placeholder="Serial Key" maxlength="50">        
            			<br/>
			<button type="submit" id="signupButton"  ng-click="signUp()">Submit</button>
            
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
      
</div>

