.Grid {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}
.Grid td {
      padding: 2px;
      border: solid 1px #c1c1c1;
      font-size: 11px; }
.Grid th  {
      padding : 4px 2px;
      color: #fff;
      background: #6569D4 url(Images/grid-header.png) repeat-x top;
      border-left: solid 1px #525252;
      font-size: 11px; }
.Grid .alt {
      background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }
.Grid .pgr {background: #363670 url(Images/grid-pgr.png) repeat-x top; }
.Grid .pgr table { margin: 3px 0; }
.Grid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-size: 11px; color: #fff; line-height: 12px; }  
.Grid .pgr a { color: Gray; text-decoration: none; }
.Grid .pgr a:hover { color: #000; text-decoration: none; }





.Grid2 {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}
.Grid2 td {
      padding: 2px;
      border: solid 1px #c1c1c1;
      font-size: 15px; }
.Grid2 th  {
      padding : 4px 2px;
      color: #fff;
      background: #60D8A1 url(Images/grid-header.png) repeat-x top;
      border: solid 1px #525252;
      font-size: 15px; 
      font-weight:bold;
      text-align:center;
      }
.Grid2 .alt2 {
      background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }
.Grid2 .pgr2 {background: #60D8A1 url(Images/grid-pgr.png) repeat-x top; }
.Grid2 .pgr2 table { margin: 3px 0; }
.Grid2 .pgr2 td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-size: 11px; color: #fff; line-height: 12px; }  
.Grid2 .pgr2 a { color: Gray; text-decoration: none; }
.Grid2 .pgr2 a:hover { color: #000; text-decoration: none; }





.Grid3 {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}
.Grid3 td {
      padding: 2px;
      border: solid 1px #c1c1c1;
      font-size: 15px; }
.Grid3 th  {
      padding : 4px 2px;
      color: #fff;
      background: #D465C6 url(Images/grid-header.png) repeat-x top;
      border-left: solid 1px #525252;
      font-size: 15px;
      font-weight:bold; }
.Grid3 .alt3 {
      background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }
.Grid3 .pgr3 {background: #363670 url(Images/grid-pgr.png) repeat-x top; }
.Grid3 .pgr3 table { margin: 3px 0; }
.Grid3 .pgr3 td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-size: 11px; color: #fff; line-height: 12px; }  
.Grid3 .pgr3 a { color: Gray; text-decoration: none; }
.Grid3 .pgr3 a:hover { color: #000; text-decoration: none; }

.FixedHeader {
            position: absolute;
            font-weight: bold;
            
        }    
        
        
        
.Grid4 {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}
.Grid4 td {
      padding: 2px;
      border: solid 1px #c1c1c1;
      font-size: 15px; }
.Grid4 th  {
      padding : 4px 2px;
      color: black;
      background: #00FFFF url(Images/grid-header.png) repeat-x top;
      border-left: solid 1px #525252;
      font-size: 15px; 
       font-weight:bold;}
.Grid4 .alt4 {
      background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }
.Grid4 .pgr4 {background: #363670 url(Images/grid-pgr.png) repeat-x top; }
.Grid4 .pgr4 table { margin: 3px 0; }
.Grid4 .pgr4 td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-size: 11px; color: #fff; line-height: 12px; }  
.Grid4 .pgr4 a { color: Gray; text-decoration: none; }
.Grid4 .pgr4 a:hover { color: #000; text-decoration: none; }

.FixedHeader {
            position: absolute;
            font-weight: bold;
            
        }      
caption
{
    font-weight:bold;
    font-size:medium;
    text-align: center;
    background-color: #ffffff;
    color: Red;
}
