
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>School Detail Registration</title>
<link rel="stylesheet" href="../styles/bootstraps.min.css" />

<!-- text fonts -->
<link rel="stylesheet" href="../styles/fonts.googleapis.com.css" />
<link rel="stylesheet" href="../styles/font-awesome.min.css" />
<!-- ace styles -->
<link rel="stylesheet" href="../styles/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
<script src="assets/js/ace-extra.min.js"></script>

<div class="main-container ace-save-state"  ng-controller="schoolRegController">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        School Registration
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form">

                            <div class="checkbox">
                                <label>

                                    <input name="radioButtongroup" type="radio" class="ace input-lg"   ng-model="schoolType" tabindex="'1'" ng-value = "1" />
                                    <span class="lbl"> Primary</span>
                                </label>
                                <label>
                                    <input name="radioButtongroup"  type="radio" ng-model="schoolType" class="ace input-lg" tabindex="'2'" ng-value = "2"/>
                                    <span class="lbl"> High School</span>
                                </label>                              
                                <label>
                                    <input name="radioButtongroup" type="radio" ng-model="schoolType" class="ace input-lg" ng-value = "'3'" tabindex="3"/>

                                    <span class="lbl"> Both</span>
                                </label>
                            </div>

                            <hr />


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> School Name </label>

                                <div class="col-sm-9">                                    
                                    <input type="text" placeholder="School Name" ng-model="schoolName" class="form-control" maxlength="50"
                                           ng-maxlength="50" ng-minlength="1" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> School Code </label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="School Code" ng-model="schoolCode" class="form-control" maxlength="50"
                                           ng-maxlength="50" ng-minlength="1" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Address 1</label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="Address 1" ng-model="addressLine1" class="form-control" maxlength="50"
                                           ng-maxlength="50" ng-minlength="1" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Address 2 </label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="Address 2" ng-model="addressLine2" class="form-control" maxlength="50"
                                           ng-maxlength="50" ng-minlength="1" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">Town </label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="Town" ng-model="town" class="form-control" maxlength="50"
                                      onkeypress='return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)'   ng-pattern="/[a-zA-Z]/"   ng-maxlength="50" ng-minlength="1" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Taluk </label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="Taluk" ng-model="taluk" class="form-control" maxlength="50"
                                        onkeypress='return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)'    ng-maxlength="50" ng-minlength="1" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> District </label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="District" ng-model="district" class="form-control" maxlength="50"
                                     onkeypress='return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)'     ng-maxlength="50" ng-minlength="1" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> State </label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="State" ng-model="state" class="form-control" maxlength="50" onkeypress='return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 122)'  ng-pattern="/[a-zA-Z]/"
                                      ng-maxlength="50" ng-minlength="1" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> Pin Code </label>

                                <div class="col-sm-9">
                                    <input type="text" placeholder="Pin Code"  ng-model="pinCode" class="form-control" ng-maxlength="6" ng-minlength="6" required />
                                </div>
                            </div>
                            <div class="center">
                                <button type="button" class="btn btn-primary"  ng-click="signUp()">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div><!-- PAGE CONTENT ENDS -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
                <span class="bigger-120">
                    <span class="blue bolder">Namma Gudu</span>
                    WebSite &copy; 2017-2018
                </span>
            </div>
        </div>
    </div>
</div><!-- /.main-container -->
