
    <meta charset="UTF-8">
    
<link href="../asstes/js/angular.min.js">
    <link rel="stylesheet" href="../styles/accordionstyle.css">

    <div class="container">
        <h1>
        Staff Entry     
        </h1>
        <div class="accordion">
            <dl>
                <dt><a class="accordionTitle" href="#">Primary Information</a></dt>
                <dd class="accordionItem accordionItemCollapsed">                 
                        <table>
                            <tr class="col-sm-9">
                                <td class="input-icon ">
                                    First Name
                                </td>
                                <td class="input-icon input-icon-right width45">
                                    <input type="text" id="Text3" />
                                </td>
                                <td class="input-icon ">
                                    Last Name
                                </td>
                                <td class="input-icon input-icon-right width45">
                                    <input type="text" id="Text8" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                  Father Name
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text1" />
                                </td>                                
                                <td class="input-icon">
                                    Mother Name
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text7" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon ">
                                    DOB
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text4" />
                                </td>
                                <td class="input-icon">
                                    Gender
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text5" />
                                </td>
                            </tr>
                            
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                    Blood Group
                                </td>
                                <td class="input-icon input-icon-right">
                                    <select class="form-control" id="form-field-select-1">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td class="input-icon">
                                    Hieght
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text10" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                    Cast
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                    Sub Cast
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>
                             <tr class="col-sm-9">
                                <td class="input-icon">
                                    Aadhar No
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                    PAN No
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>
                             <tr class="col-sm-9">
                                <td class="input-icon">
                                    Is Physically Disabel
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                    Identification Mark
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>
                             <tr class="col-sm-9">
                                <td class="input-icon">
                                    Marital Status
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                    Spouse Name
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>
                             <tr class="col-sm-9">
                                <td class="input-icon">
                                    	Spouse is Employeed 
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                    Spouse Pay
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>
                             <tr class="col-sm-9">
                                <td class="input-icon">
                                    	is Spouse Health  Scheme
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                    Spouse Employeement Detail
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>
                        </table>
                    
                    
                        <!--<div class="col-sm-9">
                            <span class="input-icon">First Name
                                <input type="text" id="form-field-icon-1"/>
                            </span><span class="input-icon input-icon-right">Middle Name
                                <input type="text" id="form-field-icon-2"/>
                            </span>
                        </div>
                         <div class="col-sm-9">
                            <span class="input-icon">Last Name
                                <input type="text" id="Text1">
                            </span><span class="input-icon input-icon-right">DOB
                                <input type="text" id="Text2">
                            </span>
                        </div>-->
                   
                </dd>
                <dt><a href="#" class="accordionTitle">Academic & Professional Information</a></dt>
                <dd class="accordionItem accordionItemCollapsed">
                     <table>
                            <tr class="col-sm-9">
                                <td class="input-icon ">
                                   Qualification
                                </td>
                                <td class="input-icon input-icon-right width45">
                                    <input type="text" id="Text3" />
                                </td>
                                <td class="input-icon ">
                                   Year Of Passing
                                </td>
                                <td class="input-icon input-icon-right width45">
                                    <input type="text" id="Text8" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                  Academic Group
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text1" />
                                </td>                                
                                <td class="input-icon">
                                    Designation
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text7" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon ">
                                   Subject Name
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text4" />
                                </td>
                                <td class="input-icon">
                                   Appointment Date
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text5" />
                                </td>
                            </tr>
                            
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                    DOJ Current Post
                                </td>
                                <td class="input-icon input-icon-right">
                                     <input type="text" id="Text10" />
                                </td>
                                <td class="input-icon">
                                    Date Of Retirement
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text10" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                    Employee Group
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                    Grade Pay
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>
                             <tr class="col-sm-9">
                                <td class="input-icon">
                                    Service Type
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                   Vacancy Status
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>
                             <tr class="col-sm-9">
                                <td class="input-icon">
                                    Do Next Increment
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                    Amount Of Increment
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>                             
                        </table>
                </dd>
                <dt><a href="#" class="accordionTitle">Address Information</a></dt>
                <dd class="accordionItem accordionItemCollapsed">
                    <table>
                            <tr class="col-sm-9">
                                <td class="input-icon ">
                                   House Number
                                </td>
                                <td class="input-icon input-icon-right width45">
                                    <input type="text" id="Text3" />
                                </td>
                                <td class="input-icon ">
                                  Street
                                </td>
                                <td class="input-icon input-icon-right width45">
                                    <input type="text" id="Text8" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                  Town / Village
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text1" />
                                </td>                                
                                <td class="input-icon">
                                    District
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text7" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon ">
                                   State
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text4" />
                                </td>
                                <td class="input-icon">
                                  Post Office
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text5" />
                                </td>
                            </tr>
                            
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                    PIN No
                                </td>
                                <td class="input-icon input-icon-right">
                                     <input type="text" id="Text10" />
                                </td>
                                <td class="input-icon">
                                    Phone No
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text10" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                    Mobile No
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                    Email ID
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>
                             <tr class="col-sm-9">
                                <td class="input-icon">
                                    Residential Status 
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text11" />
                                </td>
                                <td class="input-icon">
                                   Housing Scheme Name
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text12" />
                                </td>
                            </tr>                                                         
                        </table>
                </dd>
                <dt><a href="#" class="accordionTitle">Bank Information</a></dt>
                <dd class="accordionItem accordionItemCollapsed">
                     <table>
                            <tr class="col-sm-9">
                                <td class="input-icon ">
                                   Bank Name
                                </td>
                                <td class="input-icon input-icon-right width45">
                                    <input type="text" id="Text3" />
                                </td>
                                <td class="input-icon ">
                                  Bank Branch Name
                                </td>
                                <td class="input-icon input-icon-right width45">
                                    <input type="text" id="Text8" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                  Bank Branch Code
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text1" />
                                </td>                                
                                <td class="input-icon">
                                    Account No
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text7" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon ">
                                   MICR Code
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text4" />
                                </td>
                                <td class="input-icon">
                                  IFSC Code
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text5" />
                                </td>
                            </tr>
                                                                                    
                        </table>
                </dd>
                <dt><a href="#" class="accordionTitle">Previous Employeement Information</a></dt>
                <dd class="accordionItem accordionItemCollapsed">
                    <table>
                            <tr class="col-sm-9">
                                <td class="input-icon ">
                                   Name of School
                                </td>
                                <td class="input-icon input-icon-right width45">
                                    <input type="text" id="Text3" />
                                </td>
                                <td class="input-icon ">
                                  District
                                </td>
                                <td class="input-icon input-icon-right width45">
                                    <input type="text" id="Text8" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon">
                                  Taluk
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text1" />
                                </td>                                
                                <td class="input-icon">
                                    Year of Experience
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text7" />
                                </td>
                            </tr>
                            <tr class="col-sm-9">
                                <td class="input-icon ">
                                   From Date
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text4" />
                                </td>
                                <td class="input-icon">
                                  To Date
                                </td>
                                <td class="input-icon input-icon-right">
                                    <input type="text" id="Text5" />
                                </td>
                            </tr>                                                                                    
                        </table>
                    
                </dd>
                
            </dl>
        </div>
    </div>

    <script src="../asstes/js/accordianjs.js"></script>


